 {% extends "layout.html" %}
{% block head %} Reset honhome passowrd {% endblock %}
{% block body %}
 
  <div class="row" style="margin-top:160px;margin-bottom:160px">
              {% for mess in get_flashed_messages() %}
             		 <div class="alert alert-danger">{{ mess }}</div>
              {% endfor %}
  <div class="col-md-4 col-md-offset-4">
  <form class="valid form-horizontal" role="form" action="{{ url_for("customer_reset_password") }}" method="post">
  
  <div class="form-group">
    <label for="password" class="col-md-3 control-label">New password:</label>
    <div class="col-md-8">
      <!-- <input type="text" class="form-control" id="password" name="password" placeholder="password" datatype="*6-20" errormsg="password length must be in range of 6~20" nullmsg="password can't be empty">  -->
      <input id="reg_password" name="reg_password" type="password" class="form-control inputxt" datatype="*6-16" errormsg="password length must be in range of 6~16" nullmsg="password can't be empty"  placeholder="password" sucmsg="input verify OK" />
    </div>
  </div>


  <div class="form-group">
    <label for="confirm_password" class="col-md-3 control-label">Confirm password:</label>
    <div class="col-md-8">
      <!--  <input type="text" class="form-control" id="confirm_password" name="confirm_password" placeholder="the same with password" datatype="*6-20" errormsg="confirm password must be the same with password" nullmsg="confirm password can't be empty">  -->
      <input id="reg_repassword" name ="reg_repassword" type="password" class="form-control inputxt" datatype="*6-16" nullmsg="password can't be empty" recheck="reg_password" errormsg="confirm password must be the same with password" placeholder="password again" sucmsg="input verify OK"/>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-10 col-md-offset-1">
      <button type="submit" class="btn btn-primary btn-lg btn-block">confirm reset</button><span id="msgdemo2" style="margin-left:30px;"></span>
    </div>
  </div>
  
  <input type=hidden name=code_uuid value={{code_uuid}}>
  
</form>

            </div>
      </div>

{% endblock %}
{% block script %}
$(function(){
      $(".valid").Validform({
        tiptype:function(msg,o,cssctl){
      var objtip=$("#msgdemo2");
      cssctl(objtip,o.type);
      objtip.text(msg);
    },
      });
    });
{% endblock %}
